<div class="header">
    <div class="container clearfix">

        <h1>Chris Breiding</h1>

        <ul class="social">
            <% @content['social_links'].each do |social_link| %>
                <li class="<%= social_link['class'] %>">
                    <a href="<%= social_link['href'] %>"
                       target="_blank"
                       title="<%= social_link['title'] %>">
                       <i class="<%= social_link['icon'] %>"></i>
                       <span class="social-label"><%= social_link['name'] %></span>
                    </a>
                </li>
            <% end %>
        </ul>

        <p class="bio"><%= @content['bio'] %></p>

    </div><!-- /.container -->
</div><!-- /.header -->

<div class="portfolio">
    <div class="container clearfix">

        <h2>My Work</h2>

        <% @content['types'].each do |type| %>

            <div class="port-section clearfix">
                <div class="port-desc">
                    <h3><%= type['type'] %></h3>
                    <p><%= type['description'] %></p>
                </div>
                <ul class="port-items">
                    <% type['items'].each do |item| %>
                        <li class="port-item">
                            <span class="item-extra">
                                <span class="item-desc"><%= item['description'] %></span>
                                <span class="item-label">Tools</span>
                                <ul class="item-tools">
                                    <% item['tools'].each do |tool| %>
                                        <li><%= tool %></li>
                                    <% end %>
                                </ul>
                            </span>
                            <span class="item-thumb portfolio-<%= item['thumb'] %>"></span>
                            <span class="item-name"><%= item['name'] %></span>
                            <ul class="item-links">
                                <li>
                                    <a class="item-more-info" href="#" title="View more info">
                                        <i class="icon-info-sign"></i>
                                    </a>
                                </li>
                                <% if item['github'] %>
                                    <li>
                                        <a href="<%= item['github'] %>" target="_blank" title="View on Github">
                                            <i class="icon-github"></i>
                                        </a>
                                    </li>
                                <% end %>
                                <li>
                                    <a href="<%= item['web'] %>" target="_blank" title="View on Web">
                                        <i class="icon-globe"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    <% end %>
                </ul>
            </div>

        <% end %>

    </div><!-- /.container -->
</div><!-- /.portfolio -->

<div class="bottom">
    <div class="container clearfix">

        <div class="skills">

            <h2>Areas of Expertise</h2>

            <ul class="clearfix">
                <% @content['skills'].each do |skill| %>
                    <li><%= skill %></li>
                <% end %>
            </ul>

        </div><!-- /.skills -->

        <div class="contact" id="contact">

            <h2>Get in Touch</h2>

            <form id="contact-form" class="clearfix" method="post">

                <fieldset class="name-group clearfix">
                    <label for="name">Name</label>
                    <input name="name" type="text" class="contact-input" placeholder="Name" />
                    <div class="error-message">Please enter your name</div>
                </fieldset>

                <fieldset class="email-group clearfix">
                    <label for="email">Email</label>
                    <input name="email" type="text" class="contact-input" placeholder="Email" />
                    <div class="error-message">Please enter your email</div>
                </fieldset>

                <fieldset class="message-group clearfix">
                    <label for="message">Message</label>
                    <textarea name="message" class="contact-input" placeholder="Message"></textarea>
                    <div class="error-message">Please enter a message</div>
                </fieldset>

                <button type="submit" name="submit">Send Message</button>

                <i class="icon-envelope"></i>

            </form>

        </div><!-- /.contact -->

    </div><!-- /.container -->
</div><!-- /.bottom -->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/vendor/js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
