<div class="header">
    <div class="container clearfix">

        <h1>Chris Breiding</h1>

        <ul class="social">
            <li class="github">
                <a href="https://github.com/chrisbreiding"
                   target="_blank"
                   title="View my Github profile">
                   <i class="icon-github-sign"></i>
                   <span class="social-label">Github</span>
                </a>
            </li>
            <li class="linkedin">
                <a href="http://www.linkedin.com/in/chrisbreiding"
                   target="_blank"
                   title="Connect with me on LinkedIn">
                   <i class="icon-linkedin-sign"></i>
                   <span class="social-label">LinkedIn</span>
                </a>
            </li>
        </ul>

        <p class="bio">I'm a web developer based in Atlanta, GA. <br />I love solving problems with code and creating great web applications and sites.</p>

    </div><!-- /.container -->
</div><!-- /.header -->

<div class="portfolio">
    <div class="container clearfix">

        <h2>My Work</h2>

        <% @portfolio['types'].each do |type| %>

            <div class="port-section clearfix">
                <div class="port-desc">
                    <h3><%= type['type'] %></h3>
                    <p><%= type['description'] %></p>
                </div>
                <ul class="port-items">
                    <% type['items'].each do |item| %>
                        <li>
                            <span class="item-thumb portfolio-<%= item['thumb'] %>"></span>
                            <span class="item-name"><%= item['name'] %></span>
                            <ul class="item-links">
                                <% if item['github'] %>
                                    <li>
                                        <a href="<%= item['github'] %>" target="_blank" title="View on Github">
                                            <i class="icon-github"></i>
                                            <span class="item-link-label">View on Github</span>
                                        </a>
                                    </li>
                                <% end %>
                                <li>
                                    <a href="<%= item['web'] %>" target="_blank" title="View on Web">
                                        <i class="icon-globe"></i>
                                        <span class="item-link-label">View on Web</span>
                                    </a>
                                </li>
                            </ul>
                            <span class="item-extra">
                                <span class="item-desc"><%= item['description'] %></span>
                                <span class="item-label">Tools</span>
                                <ul class="item-tools">
                                    <% item['tools'].each do |tool| %>
                                        <li><%= tool %></li>
                                    <% end %>
                                </ul>
                            </span>
                        </li>
                    <% end %>
                </ul>
            </div>

        <% end %>

    </div><!-- /.container -->
</div><!-- /.portfolio -->

<div class="bottom">
    <div class="container clearfix">

        <div class="skills">

            <h2>Areas of Expertise</h2>

            <ul class="clearfix">
                <li>JavaScript</li>
                <li>Angular</li>
                <li>Backbone</li>
                <li>jQuery</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Git</li>
                <li>Ruby</li>
                <li>Ruby on Rails</li>
                <li>PHP</li>
                <li>CodeIgniter</li>
                <li>WordPress</li>
                <li>Drupal</li>
                <li>Photoshop</li>
            </ul>

        </div><!-- /.skills -->

        <div class="contact" id="contact">

            <h2>Get in Touch</h2>

            <% if flash[:message_response] %>
                <p class="response"><%= flash[:message_response] %></p>
            <% end %>

            <% errors = flash[:errors] || {} %>

            <form id="contact-form" class="clearfix" action="/send-message" method="post">

                <fieldset class="name-group clearfix <%= 'error' if errors[:name] %>">
                    <label for="name">Name</label>
                    <input name="name" type="text" class="contact-input" value="<%= flash[:name] || '' %>" placeholder="Name" />
                    <div class="error-message">Please enter your name</div>
                </fieldset>

                <fieldset class="email-group clearfix <%= 'error' if errors[:email] %>">
                    <label for="email">Email</label>
                    <input name="email" type="text" class="contact-input" value="<%= flash[:email] || '' %>" placeholder="Email" />
                    <div class="error-message">Please enter your email</div>
                </fieldset>

                <fieldset class="message-group clearfix <%= 'error' if errors[:message] %>">
                    <label for="message">Message</label>
                    <textarea name="message" class="contact-input" placeholder="Message"><%= flash[:message] || '' %></textarea>
                    <div class="error-message">Please enter a message</div>
                </fieldset>

                <button type="submit" name="submit">Send Message</button>

                <i class="icon-envelope-alt"></i>

            </form>

        </div><!-- /.contact -->

    </div><!-- /.container -->
</div><!-- /.bottom -->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/vendor/js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
