doctype html
html
  head
    meta(charset='utf-8')
    title Chris Breiding | Software Developer
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    each stylesheet in stylesheets
      link(rel='stylesheet', href='#{stylesheet}')
    link(rel='icon', href='images/favicon.ico', type='image/ico')

  body

    .header

      h1
        span.title Chris Breiding
        span.sub-title Software Developer

      ul.social
        each link in social
          li(class=link.class)
            a(href=link.href target='blank', title=link.title)

    .projects

      h2 I've created

      ul
        each project in projects
          li(class='#{project.class}')
            i
            p
              span #{project.description}

    .skills

      h2 I enjoy

      ul
        each skill in skills
          - idx = Math.ceil(Math.random() * 4)
          li
            i(class='bullet-#{idx}')
            span #{skill}

    .contact#contact

      h2 I'd love to hear from you

      form#contact-form

        i.envelope

        fieldset.name-group
          label(for='name') Name
          input.contact-input#contact-name(name='name', type='text')
          .error-message Please enter your name

        fieldset.email-group
          label(for='email') Email
          input.contact-input#contact-email(name='email', type='text')
          .error-message Please enter your email

        fieldset.message-group
          label(for='message') Message
          textarea.contact-input#contact-message(name='message')
          .error-message Please enter a message

        button(name='submit', type='submit') Send Message

        noscript
          p This contact form requires JavaScript. To use it, please enable JavaScript and refresh the page.

      .contact-success
        p Your message has been sent - Thank you!
        i

      .contact-failure
        i
        p I'm sorry, but an unexpected error occurred and your message could not be sent. Please get in touch with me on <a href="http://twitter.com/chrisbreiding" target="_blank">Twitter</a>.

    each script in scripts
      script(src='#{script}')
