doctype html
html
  head
    meta(charset='utf-8')
    title Chris Breiding | Software Developer
    meta(name='viewport', content='width=device-width initial-scale=1.0')
    link(rel='stylesheet', href='stylesheets/all.css')
    link(rel='icon', href='images/favicon.ico', type='image/ico')

  body

    .header

      h1 Chris Breiding
        span Software Developer

      ul.social
        each link in social
          li(class=link.class)
            a(href=link.href target='blank', title=link.title)
              #{link.name}

      p.bio #{bio}

    .projects

      h2 I've created

      ul
        each project in projects
          li(class=project.class) #{project.description}

    .skills

      h2 I enjoy

      ul
        each skill in skills
          - idx = Math.ceil(Math.random() * 4)
          li(class='bullet-#{idx}') #{skill}

    .contact#contact

      h2 I'd love to hear from you

      noscript
        .response.invalid This contact form requires JavaScript. Please enable JavaScript and refresh the page.

      form#contact-form

        fieldset.name-group
          label(for='name') Name
          input.contact-input(name='name', type='text')
          .error-message Please enter your name

        fieldset.email-group
          label(for='email') Email
          input.contact-input(name='email', type='text')
          .error-message Please enter your email

        fieldset.message-group
          label(for='message') Message
          textarea.contact-input(name='message')
          .error-message Please enter a message

        button(name='submit', type='submit') Send Message

   //- #{javascript_include_tag 'all', 'google-analytics'}
