.header
  .container.clearfix

    %h1 Chris Breiding

    %ul.social
      - data.social.each do |social_link|
        %li{ class: "#{social_link.class}" }
          %a{ href: "#{social_link.href}", target: 'blank', title: "#{social_link.title}" }
            %i{ class: "#{social_link.icon}" }
            %span.social-label= social_link.name

    %p.bio= data.bio

.portfolio
  .container.clearfix

    %h2 My Work

    - data.work.each do |type|
      .port-section.clearfix
        .port-desc
          %h3= type.type
          %p= type.description

        %ul.port-items
          - type.items.each do |item|
            %li.port-item
              %span.item-extra
                %span.item-desc= item.description
                %span.item-label Tools
                %ul.item-tools
                  - item.tools.each do |tool|
                    %li= tool
              %span{ class: "item-thumb portfolio-#{item.thumb}"}
              %span.item-name= item.name

              %ul.item-links
                %li
                  %a{ class: 'item-more-info', href: '#', title: 'View more info' }
                    %i.icon-info-sign
                - if item.github
                  %li
                    %a{ href: item.github, title: 'View on Github', target: '_blank' }
                      %i.icon-github
                %li
                  %a{ href: item.web, title: 'View on web', target: '_blank' }
                    %i.icon-globe

.bottom
  .container.clearfix

    .skills

      %h2 Areas of Expertise

      %ul.clearfix
        - data.skills.each do |skill|
          %li= skill

    .contact#contact

      %h2 Get in Touch

      %noscript
        .response.invalid This contact form requires JavaScript. Please enable JavaScript and refresh the page.

      %form.clearfix#contact-form

        %fieldset.name-group.clearfix
          %label{ for: 'name' } Name
          %input{ name: 'name', class: 'contact-input', placeholder: 'Name', type: 'text' }
          .error-message Please enter your name

        %fieldset.email-group.clearfix
          %label{ for: 'email' } Email
          %input{ name: 'email', class: 'contact-input', placeholder: 'Email', type: 'text' }
          .error-message Please enter your email

        %fieldset.message-group.clearfix
          %label{ for: 'message' } Name
          %textarea{ name: 'message', class: 'contact-input', placeholder: 'Message' }
          .error-message Please enter a message

        %button{ name: 'submit', type: 'submit'} Send Message

        %i.icon-envelope
